# Data cleaning full process example only code

In [17]:
# import libraries
import pandas as pd
import numpy as np

In [18]:
# read in data
path = "../data/WorldCupMatches.csv"
df = pd.read_csv(path, parse_dates=True, index_col="Year")
df.head()

,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
Year,,,,,,,,,,,,,,,,,,,
1930-01-01,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4,1,Mexico,,4444.0,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,1096,FRA,MEX
1930-01-01,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3,0,Belgium,,18346.0,2,0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201,1090,USA,BEL
1930-01-01,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2,1,Brazil,,24059.0,2,0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201,1093,YUG,BRA
1930-01-01,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,2549.0,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER
1930-01-01,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,23409.0,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA

In [19]:
# check the types of the columns and shape of the dataframe
print(df.shape)
print(df.dtypes)

(852, 19)
Datetime                 object
Stage                    object
Stadium                  object
City                     object
Home Team Name           object
Home Team Goals           int64
Away Team Goals           int64
Away Team Name           object
Win conditions           object
Attendance              float64
Half-time Home Goals      int64
Half-time Away Goals      int64
Referee                  object
Assistant 1              object
Assistant 2              object
RoundID                   int64
MatchID                   int64
Home Team Initials       object
Away Team Initials       object
dtype: object

In [20]:
# count the number of missing values in each column
df.isnull().sum()

Datetime                0
Stage                   0
Stadium                 0
City                    0
Home Team Name          0
Home Team Goals         0
Away Team Goals         0
Away Team Name          0
Win conditions          0
Attendance              2
Half-time Home Goals    0
Half-time Away Goals    0
Referee                 0
Assistant 1             0
Assistant 2             0
RoundID                 0
MatchID                 0
Home Team Initials      0
Away Team Initials      0
dtype: int64

In [21]:
# at Attendance, we have 2 missing values
# fill in the missing values with the mean value along each column
df['Attendance'].fillna(df['Attendance'].mean(), inplace=True)

# check the number of missing values in each column again to confirm
df.isnull().sum()[1].sum()

0

In [22]:
# change to the correct data type
df['Datetime'] = pd.to_datetime(df['Datetime'])
df.index = pd.DatetimeIndex(df.index)
df.dtypes

Datetime                datetime64[ns]
Stage                           object
Stadium                         object
City                            object
Home Team Name                  object
Home Team Goals                  int64
Away Team Goals                  int64
Away Team Name                  object
Win conditions                  object
Attendance                     float64
Half-time Home Goals             int64
Half-time Away Goals             int64
Referee                         object
Assistant 1                     object
Assistant 2                     object
RoundID                          int64
MatchID                          int64
Home Team Initials              object
Away Team Initials              object
dtype: object

In [ ]:
# minmax scale the goals scored
# df["Home Team Goals"] = (df["Home Team Goals"] - df["Home Team Goals"].min()) / (df["Home Team Goals"].max() - df["Home Team Goals"].min())
# df["Away Team Goals"] = (df["Away Team Goals"] - df["Away Team Goals"].min()) / (df["Away Team Goals"].max() - df["Away Team Goals"].min())

# check the data was scaled correctly
# df.head()

In [ ]:
# export the cleaned data to be used
df.to_csv("../data/WorldCupMatchesCleaned.csv")